<nav class="bottom-nav">
    <a href="{{ path('post_new') }}" class="nav-item">
        <img src="{{ asset('images/add-circle-svgrepo-com.svg') }}" alt="Vendre">
        <span>Vendre</span>
    </a>
    <a href="{{ path('favorites_list') }}" class="nav-item">
        <img src="{{ asset('images/heart-alt-svgrepo-com.svg') }}" alt="Favoris">
        <span>Favoris</span>
    </a>
    <a href="{{ path('messages_inbox') }}" class="nav-item">
        <img src="{{ asset('images/chat-round-line-svgrepo-com.svg') }}" alt="Messages">
        <span>Messages</span>
        {% if unreadCount > 0 %}
            <span class="badge">{{ unreadCount }}</span>
        {% endif %}
    </a>
    {% if app.user %}
    <a href="{{ path('app_profile_show', {id: app.user.id}) }}" class="nav-item">
        <img src="{{ asset('images/user-alt-1-svgrepo-com.svg') }}" alt="Compte">
        <span>Mon compte</span>
    </a>
    {% else %}
        <a href="{{ path('app_login') }}" class="nav-item">
            <img src="{{ asset('images/user-alt-1-svgrepo-com.svg') }}" alt="Connexion">
            <span>Se connecter</span>
        </a>
    {% endif %}
</nav>