<header class="main-header">
  <div class="logo">
    <a href="{{ path('home') }}">
      <img src="{{ asset('images/logo.png') }}" alt="Bonne Affaire">
    </a>
  </div>

  <div class="search">
      <form action="{{ path('post_list') }}" method="get" style="display: contents;">
          <input type="text" name="q" placeholder="Rechercher une annonce..." value="{{ q ?? '' }}">
          <button type="submit"></button>
      </form>
  </div>

  <div id="menu-wrapper" class="menu-wrapper">
    <div class="arrow left-arrow">&lt;</div>
    <ul id="menu" class="menu">
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 8 }) }}">Immobilier</a></li>
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 9 }) }}">Véhicules</a></li>
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 10 }) }}">Emploi</a></li>
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 11 }) }}">Maison & Jardin</a></li>
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 12 }) }}">Électronique</a></li>
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 13 }) }}">Loisirs</a></li>
      <li class="item"><a href="{{ path('post_list', { sort: 'date', category: 14 }) }}">Autres</a></li>
    </ul>
    <div class="arrow right-arrow">&gt;</div>
  </div>
</header>