{% extends 'base.html.twig' %}

{% block body %}
  <section class="page-banner">
    <h1>Liste des annonces</h1>
  </section>

  {# filtres #}
  <form method="get" action="{{ path('post_list') }}" class="filters-posts">

      {# On garde la recherche actuelle #}
      <input type="hidden" name="q" value="{{ q ?? '' }}">

      <select name="sort" class="form-select">
          <option value="date" {{ sort is defined and sort == 'date' ? 'selected' : '' }}>Trier par date</option>
          <option value="prix" {{ sort is defined and sort == 'prix' ? 'selected' : '' }}>Trier par prix</option>
      </select>

      <!-- Catégories -->
      <select name="category">
        <option value="">-- Toutes catégories --</option>
        {% for cat in categories %}
          <option value="{{ cat.id }}" {{ selectedCategory == cat.id ? 'selected' }}>
            {{ cat.name }}
          </option>
        {% endfor %}
      </select>

      <!-- Département -->
      <select name="dept">
          <option value="">-- Tous les départements --</option>
          {% for code, deptName in departments %}
              <option value="{{ code }}" {{ selectedDept == code ? 'selected' : '' }}>
                  {{ deptName }}
              </option>
          {% endfor %}
      </select>

      <button type="submit">Filtrer</button>
  </form>

  <section class="post-info">
    <div class="grid">
      {% for post in posts %}
        <article class="card">
          <a href="{{ path('post_show', {id: post.id}) }}" class="card-link">
            {# Bouton favoris #}
            <button 
                class="favorite-btn"
                data-url="{{ path('favorites_toggle', {id: post.id}) }}"
                data-favorited="{{ post.id in favorisIds ? 'true' : 'false' }}"
            >
                <img src="{{ asset(post.id in favorisIds 
                    ? 'images/hearth-fill.svg' 
                    : 'images/hearth-svgrepo-com.svg') }}" 
                    alt="favori">
            </button>

            {# Image principale #}
            {% if post.image1 %}
              <img src="{{ asset('uploads/' ~ post.image1) }}" alt="{{ post.title }}" class="presentation-img">
            {% endif %}

            <h3>
              {{ post.title|length > 22 
                ? post.title|slice(0, 22) ~ '...' 
                : post.title 
              }}
            </h3>
            <p>{{ post.price }} €</p>
            <span>{{ post.location }}</span>
            <span class="date">{{ post.published_at ? post.published_at|date('d/m/Y à H:i') }}</span>
          </a>
        </article>
      {% else %}
        <p>Aucune annonce disponible.</p>
      {% endfor %}
    </div>
  </section>
{% endblock %}
