{% extends 'base.html.twig' %}



{% block body %}
  <section class="page-banner">
    <h1>Créer une nouvelle annonce</h1>
  </section>

  <div class="form-container">
    {{ form_start(form, {'attr': {'enctype': 'multipart/form-data', 'class': 'custom-form'}}) }}

      <div class="form-group">
        {{ form_label(form.title, 'Titre', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.title, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.title, {'attr': {'class': 'form-error'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.description, 'Description', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control textarea'}}) }}
        {{ form_errors(form.description, {'attr': {'class': 'form-error'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.price, 'Prix', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.price, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.price, {'attr': {'class': 'form-error'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.itemCondition, 'État', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.itemCondition, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.itemCondition, {'attr': {'class': 'form-error'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.location, 'Lieu', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.location, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.location, {'attr': {'class': 'form-error'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.postalCode, 'Département', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.postalCode, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.postalCode, {'attr': {'class': 'form-error'}}) }}
      </div>
      
      <div class="form-group">
        {{ form_label(form.category, 'Catégorie', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
        {{ form_errors(form.category, {'attr': {'class': 'form-error'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.image1, 'Image 1', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image1, {'attr': {'class': 'form-control-file'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.image2, 'Image 2', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image2, {'attr': {'class': 'form-control-file'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.image3, 'Image 3', {'label_attr': {'class': 'form-label'}}) }}
        {{ form_widget(form.image3, {'attr': {'class': 'form-control-file'}}) }}
      </div>

      <button type="submit" class="btn-submit">Publier l’annonce</button>
  
    {{ form_end(form) }}
  </div>

  {# Script pour remplacé la virgule (des centimes) par un point avant l'envoie #}
  <script>
    document.addEventListener("DOMContentLoaded", function() {
        const priceInput = document.querySelector('input[name="post[price]"]');
        if (priceInput) {
            priceInput.addEventListener("input", function() {
                this.value = this.value.replace(',', '.');
            });
        }
    });
  </script>
{% endblock %}