{% extends 'base.html.twig' %}

{% block body %}

<section class="page-banner">
    <h1>Favoris</h1>
</section>

<section class="post-info">
    <div class="grid">
        {% for favorite in favorites %}
            <article class="card">
                <a href="{{ path('post_show', {id: favorite.post.id}) }}" class="card-link">
                    <button 
                        class="favorite-btn"
                        data-url="{{ path('favorites_toggle', {id: favorite.post.id}) }}"
                        data-favorited="{{ favorite.post.id in favorisIds ? 'true' : 'false' }}"
                    >
                        <img src="{{ asset(favorite.post.id in favorisIds 
                            ? 'images/hearth-fill.svg' 
                            : 'images/hearth-svgrepo-com.svg') }}" alt="favori">
                    </button>

                    <img src="{{ asset('uploads/' ~ favorite.post.image1) }}" alt="{{ favorite.post.title }}">
                    <h3>{{ favorite.post.title }}</h3>
                    <p>{{ favorite.post.price }} €</p>
                    <span>{{ favorite.post.location }}</span>
                    <span class="date">08/09/2025 à 21h19</span>
                </a>
            </article>
        {% else %}
            <p>Aucune annonce en favoris pour le moment</p>
        {% endfor %}
    </div>
</section>
{% endblock %}
